/*
 * Global styles
 */
a:link {
  color:                  black;
  text-decoration:        underline;
}
a:visited {
  color:                  grey;
  text-decoration:        underline;
}
a:hover {
  color:                  slategray;
  text-decoration:        underline;
}
body {
  background-attachment:  fixed;
  background-image:       url("/assets/bg_about.png");
  background-position:    center 10em;
  background-repeat:      no-repeat;
  font-family:            Palatino;
  font-size:              1em;
}
h1 {
  font-size:              1.5em;
  font-variant:           small-caps;
  font-weight:            bold;
  text-align:             center;
}
h1:first-letter {
  font-size:              3em;
  line-height:            0em;
  text-transform:         capitalize;
}
h2 {
  font-size:              1.5em;
  font-style:             italic;
  font-weight:            normal;
  line-height:            2em;
  margin:                 0;
  padding:                0;
}
h3 {
  font-size:              0.75em;
  font-style:             normal;
  font-weight:            bold;
  line-height:            1.5em;
  margin:                 0;
  padding:                0;
}
p {
  font-family:            Garamond;
  font-variant:           normal;
  font-weight:            normal;
  text-align:             justify;
}

/*
 * {DIV,SPAN} class styles
 */
div.div-content {
  background-color:       rgba(240,240,240,0.5);
  margin:                 auto;
  min-height:             75em;
  overflow:               hidden;
  padding:                2.5em;
  position:               relative;
  text-align:             left;
  top:                    1.5em;
  width:                  60em;
}
div.div-left {
  float:                  left;
  padding:                1.5em;
  width:                  45%;
}
div.div-right {
  float:                  right;
  padding:                1.5em;
  width:                  45%;
}
span.span-langs {
  font-size:              0.75em;
}
span.span-pages {
  border-bottom-style:    solid;
  border-bottom-width:    0.1em;
  color:                  grey;
  font-size:              0.8em;
  font-variant:           small-caps;
  text-align:             center;
}

/*
 * IMG class styles
 */
img.img-center {
  display:                block;
  margin:                 0 auto;
}
img.img-left {
  display:                block;
  float:                  left;
  margin:                 0 auto;
  padding:                1em;
}
img.img-right {
  display:                block;
  float:                  right;
  margin:                 0 auto;
  padding:                1em;
}

/*
 * {P,HR} class styles
 */
p.p-capitalise {
  text-transform:         initial;
}
p.p-capitalise:first-letter {
  font-size:              3em;
  line-height:            0em;
  text-transform:         capitalize;
}
p.p-center {
  text-align:             center;
}
p.p-legend {
  font-family:            "Trebuchet MS", Trebuchet, Helvetica, Arial, sans-serif;
  font-size:              0.8em;
  font-variant:           small-caps;
  font-weight:            bold;
  height:                 12em;
  margin:                 auto;
  padding:                3em;
  position:               relative;
  text-align:             center;
  width:                  40em;
}
hr.hr-clear {
  clear:                  both;
}

/*
 * Specific {A,DIV} styles
 */
p.p-legend a:link {
  color:                  black;
  text-decoration:        none;
}
p.p-legend a:visited {
  color:                  grey;
  text-decoration:        none;
}
p.p-legend a:hover {
  color:                  slategray;
  text-decoration:        underline;
}
@media only screen and (min-device-width: 1440px) {
  #div-star9 {
    background:             rgba(240,240,240,0.4);
    content:                "";
    height:                 75em;
    left:                   0;
    margin:                 0 auto;
    position:               absolute;
    right:                  0;
    top:                    18em;
    transform:              rotate(135deg);
    width:                  75em;
    z-index:                -1;
    -moz-transform:         rotate(135deg);
    -ms-transform:          rotate(135deg);
    -o-transform:           rotate(135deg);
    -webkit-transform:      rotate(135deg);
  }
}

/*
 * vim:ts=2 sw=2 expandtab fenc=utf-8 foldmethod=marker nowrap tw=0
 */
